{% extends 'base.html.twig'%}
{% block title %}Troc&Mode Kids{% endblock %}

{% block body %}

<h1>Me connecter</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}