{% extends 'base.html.twig'%}
{% block title %}Troc&Mode Kids{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Me connecter</h1>
            <form class="form-group" method="post">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </form>
        </div>
        <div>
        <a href="{{ path('member_new')}}" class="btn btn-secondary">Pas encore inscrit ?</a>
        </div>
        <br>
    </div>
{% endblock %}