{% extends 'base.html.twig' %}

{% block title %}Inscription Membre{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer votre profil ! </h1>
        <form class="form-group" method="post">
        {{ include('member/_form.html.twig', {'button_label': 'Créer'}) }}
        </form>
        <a href="{{ path('home_show') }}">Retour à l'accueil</a>
        <br>
        {# {{ include('member/_delete_form.html.twig') }} #}
    </div>
{% endblock %}