{% extends 'base.html.twig' %}

{% block title %}Inscription Membre{% endblock %}

{% block body %}
    <h1>Créer votre profil ! </h1>

    {{ include('member/_form.html.twig') }}

    <a href="{{ path('member_show') }}">Voir votre profil</a>
{% endblock %}