{% extends 'base.html.twig' %}

{% block title %}Modifier un atelier{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un atelier</h1>
        <form class="form-group" method="post">
        {{ include('workshop/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </form>
        <a href="{{ path('workshop_index') }}">Retour à la liste</a>
        <br>
        {{ include('workshop/_delete_form.html.twig') }}
    </div>
{% endblock %}