{% extends 'base.html.twig' %}

{% block title %}Créer un atelier{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un atelier</h1>
        <form class="form-group">
        {{ include('workshop/_form.html.twig', {'button_label': 'Créer'}) }}
        </form>
        <a href="{{ path('workshop_index') }}">Retour à la liste</a>
    </div>
{% endblock %}