{% extends 'base.html.twig' %}

{% block title %}Edit DonationBag{% endblock %}

{% block body %}
    <h1>Edit DonationBag</h1>

    {{ include('donation_bag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('donation_bag_index') }}">back to list</a>

    {{ include('donation_bag/_delete_form.html.twig') }}
{% endblock %}