(% extends 'base.html.twig'%)

{% block body %}


<h1>Modifiez un rdv (collecte/dépôt) dans une école :</h1>

<form action="/school_tour_stop/update/id" method="post">

    <label for="schoolTourStopDate">Date</label>
    <input type="date" id="schoolTourStopDate" name="schoolTourStopDate">

    <label for="schoolTourStopSchool">Ecole</label>
    <select name="schoolTourStopSchool" id="schoolTourStopSchool">
    {% for school in schools %}
    <option value="{{school.id}}">{{school.name}}</option>
    {% endfor%}
    </select>

    <input type="submit" value="MODIFIER UN RDV ECOLE">

/ VERIFIER SI ECRITURE TWIG EST CORRECTE/ Comment gérer le unset ?

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

// message = <p>Bienvenue {{ member.surname }}! Le RDV Ecole a bien été crée.</p>
    
</form>

{% endblock %}