{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="container">
        
            <h1>Article à modifier</h1>

            <form class="form-group" method="post">
            {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </form>

            <a href="{{ path('article_index') }}">Retour à la liste</a>

            {{ include('article/_delete_form.html.twig') }}
        
    </div>
{% endblock %}