{% extends 'base.html.twig' %}

{% block title %}Création Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau article</h1>
        <form class="form-group" method="post">
        {{ include('article/_form.html.twig', {'button_label': 'Créer'}) }}
        </form>
        <a href="{{ path('article_index') }}">Retour à la liste</a>
    </div>
{% endblock %}

